body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background:  url('../media/image-w1280.webp');
    background-size: cover;
    background-position: 5%;
    background-position: left;
    color: #fff;
    height: 100vh;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo img {
    width: 100px;
    height: auto;
    font-size: 25px;
}

nav {
    position: relative;
    font-size: larger;
    font-size: 25px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Add this line */
}

nav ul li {
    /* display: inline-block; */ /* Remove this line */
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border-bottom: 2px solid transparent;
}
nav ul li a:hover {
    border-bottom-color: #fff;
}


.banner {
    padding: 40px;
 
}

.banner .content {
    width: 1000px;
    margin: 0; /* Removed margin */
    text-align: left;
    color: aliceblue;
}

.banner h1 {
    font-size: 70px;
    text-transform: uppercase;
}

.banner p {
    font-size: 24px;
    width: 80%;
   
}
.additional-info {
    color: #585858; 
    margin-top: 20px;  
    display: flex;
    width: 45%;


}


.watch-movie-btn, .watch-trailer-btn  {
   font-size: 25px;
    padding: 10px 20px;
    background-color: #b65214;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid transparent;
    margin-top: 70px;
    
}


.watch-movie-btn:hover, .watch-trailer-btn:hover {
    background-color:transparent;
    border-color: aliceblue;
}
