@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
  font-family: 'ubuntu', sans-serif;
  padding: 0;
  margin: 0;

}

a{
  color: white;
  text-decoration: none;
}
body{
 background-image:linear-gradient(to right,#ffffff, #cf1111);
height: 100vh;
 display: flex;
justify-content: center;
align-items: center ;



}
.container{
  background-image: linear-gradient(to right, #01022d2d 10%,#0000001f),
  url(../media/inception.jpg);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
padding: 10px;
}
.logo{
font-size: 30px;
text-transform: uppercase;


}
.imgg{
  width: 100px;
}

ul{
  width: 30%;
list-style: none;
display: flex;
justify-content:space-evenly ;
}
ul a{
  border-bottom: 2px solid transparent;
}
ul a:hover{
  border-bottom-color:white ;
}
.content{
  color: rgb(255, 255, 255);
width: 50%;
margin-top: 60px ;
padding: 30px;


}
.content h2{
font-size: 90px;
text-transform: uppercase;
color: rgb(248, 248, 248);

}
.content p{
letter-spacing: 3px;
width: 350px;
padding: 20px 0;
  
}
.content button{

  font-size: 30px;
padding: 6px 10px;
border-radius: 10%;
border: 2px solid transparent;
cursor: pointer;
background-color: #991d1d;
}
.content button:hover{
background-color: transparent;
border-color: rgb(255, 255, 255);
color: rgb(255, 255, 255);
}
/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.vidcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
    position:static;
}
.vidcontainer video{
    position: relative; 
    top: 0;
    left: 0;
    width: 90%;
    height: 90%; 
    /* object-fit: cover; */
    z-index:9;
    /* top: 10%; */
    /* margin: 0 auto; */
    /* right: -100%;
    transform: translate(31.5%,-5%); */
}
/* .vidcontainer span{
    top: -5%;
    right: 1%;
} */


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /* overflow: auto; Enable scroll if needed */
  /* background-color: rgb(142, 0, 111); /* Fallback color */
  /* background-color: rgba(80, 0, 142, 0.79); Black w/ opacity */ 
  background: linear-gradient(180deg , rgb(104, 0, 169,.9) , rgba(0, 0, 0, 0.9)   );
  padding-top: 60px;
}
/* The Close Button (x) */
.close {
  position: absolute;
  right: 0;
  top: 0;
  color: #ff0000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
